body {
    background-color: #3069a1;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background-image); /* Use the CSS variable here */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Apply blur to the background image */
    z-index: -1;
}
